In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('healthcare_services_2015_sampling.csv',sep='\t')
df.head()

  icd10  cost
0   A04   1.4
1   A04   1.6
2   A04   1.7
3   A04   2.3
4   A04   2.4

In [9]:
df.sort(columns=['cost'],ascending=False).head()

/home/aqeel/anaconda2/envs/fullfeatured/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

     icd10     cost
2874   I22  11413.0
2867   I21   6657.6
1499   F20   4530.5
2873   I22   3723.3
4864   M05   3399.3

In [10]:
df.columns

Index([u'icd10', u'cost'], dtype='object')

In [19]:
sums = df.groupby(['icd10'])['cost'].sum()

In [21]:
sums.sort(inplace=True,ascending=False)

/home/aqeel/anaconda2/envs/fullfeatured/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

In [22]:
sums.head()

icd10
I22    17380.7
Z51    13958.6
F20    11575.7
S72     9957.2
I21     8107.6
Name: cost, dtype: float64